@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-size: larger;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100vh; 
    text-align: center;
    backdrop-filter: blur(10px);
    color: rgb(33, 33, 33);
}
body a{
    text-decoration: none;
    color: rgb(234, 125, 0);
}

.nav{
    text-decoration: none;
    display: flex;
    padding: 10px;
    list-style: none;
}