@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body{
    font-size: larger;
    font-family: "Pixelify Sans", sans-serif;
    height: 100vh; 
    text-align: center;
    backdrop-filter: blur(10px);
    color: rgb(30, 30, 30);    
}
body a{
    text-decoration: none;
    color: rgb(106, 0, 255);
}
.nav{
    text-decoration: none;
    display: flex;
    padding: 10px;
    list-style: none;
}
*{
    box-sizing: border-box;
    margin: 0px;
}
.header-container{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 20%;
    text-align: center;
    font-size:xx-large;
}
.navigation{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.header-container li{
    list-style: none;
    font-size: larger;
}
.header-container li:hover{
    cursor: pointer;
}
.logo{
    font-weight: 500;
    color: rgb(255, 0, 0);
}
.toggle{
    position: fixed;
    right: 20px;
    top:20px;
    z-index: -99px;
    display: none;
}
.toggle:hover{
    cursor: pointer;
}

@media  screen and (max-width: 700px) {
    .header-container{
        flex-direction: column;
        display: flex;
        height: 10vh;
    }
    .navigation{
        width: 100vw;
        flex-direction: column;
        height: 50vh;
        display: none;
        position: absolute; 
        top: -100vh; 
        background-color:white;
    }
    .navigation.show{
        display: flex;
        top:10vh;
        transition: top 10s ease;
    }
    .logo{
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding-left: 15px;
    }
    .toggle{
        display: block;
    }
  }